
  <div class="top-div-m">
    <div class="row">
        <div class="col-sm-8" style="font-size: larger; font-weight: 500; font-family: emoji;">
          <img src='/../../../assets/myntra.png' alt="logo" width="50" height="40" (click)="Load_HomePage()"> 
         
        &nbsp; &nbsp;
        <a style= "color: black" routerLink="/Myntra/MensWear" routerLinkActive="active">MEN</a>
        &nbsp; &nbsp;
        <a style= "color: black" routerLink="/Myntra/WomenWear" routerLinkActive="active">WOMEN</a>
        &nbsp; &nbsp;
        <a style= "color: black" routerLink="/Myntra" routerLinkActive="active">ACCESSORIES</a>
        &nbsp; &nbsp;
        <a style= "color: black" routerLink="/Myntra" routerLinkActive="active">KIDS</a>
        &nbsp; &nbsp;
        <a style= "color: black" routerLink="/Myntra" routerLinkActive="active">HOME & LIVING</a>
        &nbsp; &nbsp;
        <a style= "color: black" routerLink="/Myntra" routerLinkActive="active">BEAUTY</a>
        &nbsp; &nbsp;
        
      </div>

      <div class="col-sm-4" style="display: flex; justify-content: flex-end">
     
        <div class="col-lg-2"  >
            <div >
                <img src='/../../../assets/profile.png' alt="logo" width="32" height="29">   
             </div>
             <label style=" padding-top: 3px;"> Profile  </label>
          </div>

          <div class="col-lg-2">
            <div >
                <img src='/../../../assets/wish.png' alt="logo" width="32" height="29">   
             </div>
             <label style=" padding-top: 3px;"> Wishlist  </label>
            </div>

            <div class="col-lg-2" (click)="go()" >
                <div >
                    <img src='/../../../assets/bag.png' alt="logo" width="32" height="29">   
                 </div>
                 <label style="margin-left: 8px; padding-top: 3px;"> Cart  </label>
            </div>
    

        
        

        </div>

    </div>
  </div>

  <div>
    <img src='/../../../assets/eos_img.png' alt="logo" width="100%" height="400px"> 

    </div>
  
<div class="row">
  <div class="col-md-3" style=" margin-left: 2%; margin-right: 8%;" >
    <div class="card"  style="width: 300px;">
      <div class="card-image">
        <img style=" width: 100%; height: 392px;" src='../../../assets/Mens/02.jpg'>
        <span class="card-title" style=" font-weight: 400;">Mens Wear</span>
      </div>
      <div class="card-content">
        <p style="margin-bottom: 20px;">The epitome of men's clothing.</p>
      </div>
      <div class="card-action">
        <a routerLink="/Myntra/MensWear">SHOP NOW</a>
      </div>
    </div>
  </div>

  <div class="col-md-3" style="margin-right: 8%;  margin-left: 10%;" >
    <div class="card" style="width: 300px;">
      <div class="card-image">
        <img style=" width: 100%; height: 392px;" src='../../../assets/women/05.jpg'>
        <span class="card-title" style=" color: black; font-weight: 400;">Women Wear</span>
      </div>
      <div class="card-content">
        <p>I am for Style. Fashions Change too quickly.</p>
      </div>
      <div class="card-action">
        <a routerLink="/Myntra/WomenWear">SHOP NOW</a>
      </div>
    </div>
  </div>

  <div class="col-md-3" style="margin-right: 8%; margin-left: 10%;" >
    <div class="card"  style="width: 300px;">
      <div class="card-image">
        <img style=" width: 100%; height: 392px;" src='../../../assets/women/04.jfif' >
        <span class="card-title" style=" color: black; font-weight: 400;">Kids Wear</span>
      </div>
      <div class="card-content">
        <p style="margin-bottom: 20px;">Give your Kid a stylish look.</p>
      </div>
      <div class="card-action">
        <a href="#">SHOP NOW</a>
      </div>
    </div>
  </div>
  
  <div class="col-md-3" style=" margin-left: 10%;" >
    <div class="card" style="width: 300px;">
      <div class="card-image">
        <img style=" width: 100%; height: 392px;" src='../../../assets/accessories.jpg' >
        <span class="card-title" style=" font-weight: 400;">Clothing Accesories</span>
      </div>
      <div class="card-content">
        <p>Life isn't Perfect, But your Accessories can be.</p>
      </div>
      <div class="card-action">
        <a href="#">SHOP NOW</a>
      </div>
    </div>
  </div>

</div>

<div class= "inner-container">
    
    <div class="row">
    <div class = "center">
    <p style="font-weight: bold; font-style: oblique; font-family: -webkit-body; font-size: x-large; 
    font-size: 41px;
    line-height: 40px;">
      Get latest fashion outfits <br>
      at your Doorstep on Affordable Prices <br>
      with Myntra
    </p>
  </div>
  <div >
    <p style= " line-height: 23px; font-family: system-ui;  font-weight: 300;  margin-top: 20px; font-size: 21px;">
      Best of Clothing and Accessories <br>
      waiting for you,  <br>
      It is just a single click away.
    </p>
  </div>
    </div>


    <div class="row">
      
      <img class="col-md-3" style="margin-left: 275px; margin-right: 260px;" src='../../../assets/Trust.png'>
      <img class="col-md-3" style="margin-right: 260px;" src='../../../assets/LocationIcon.png'>
      <img class="col-md-3"  src='../../../assets/BestOffer.png'>
    </div>
  
    <div class="row">
      <h1 class="font-below-image" style="margin-left: 290px ; margin-right: 275px ;"> Trust </h1>
      <h1 class="font-below-image" style="margin-right: 220px ;"> Doorstep Delivery</h1>
      <h1 class="font-below-image" >Best Offers</h1>
        
    </div>
  


  </div>


  <div class="inner-container">
    <div class= "image-container">

      <div>
        <div style="padding-top: 20%; padding-left: 10%; padding-bottom: 5%">
          <div class="divbtn">
            <a style= "color: black ; font-family: serif;" routerLink="/Myntra" role="button">Shop Now</a>
          </div>
          &nbsp;   
          <div class="divbtn2">
            <a style= "color: white ; font-family: serif;" routerLink="/Myntra" role="button">Find More</a>
          </div>

        </div>  
      </div>
    </div>

</div>


<div class="inner-container">

  <div class="slider-container">
    <div class="image-slider-container">
      <carousel
      [images]="images_array"
      [objectFit]="'cover'"
      [autoplay]="true"
      [dots]="true"
      [loop]="true"
      [cellsToShow]="4"
      [cellsToScroll]="1"
      [autoplay]="true"
      margin="30"
      >
      </carousel>
    </div>
  </div>


</div>



<div class="inner-container">

  <div class="row">
      
    <img class="col-md-3" style="margin-left: 200px; margin-right: 260px;" src='../../../assets/globe-free-img.png'>
    <img class="col-md-3" style="margin-right: 260px;" src='../../../assets/quality-free-img.png'>
    <img class="col-md-3" style="margin-right: 260px;" src='../../../assets/tag-free-img.png'>
    <img class="col-md-3"  src='../../../assets/lock-free-img.png'>
  </div>

  <div class="row">
    <h1 class="font-below-image" style="margin-left: 150px ; margin-right: 210px ;">Worldwide Shipping</h1>
    <h1 class="font-below-image" style="margin-right: 250px ;">Best Quality</h1>
    <h1 class="font-below-image" style="margin-right: 230px ;">Best Offers</h1>
    <h1 class="font-below-image" >Secure Payments</h1>
      
  </div>


</div>

<!-- parallax -->

<div style=" background-color: white; margin: 0px; padding: 0px;">

    <div class="parallax">
  
      <p>'</p>
      <div class = "text-style-parallax" style="font-family: serif;">
        <p>Limited Time Offers</p>
      </div>
  
      <div class = "text-style-parallax" style="font-family: 'Lato',sans-serif; font-size: 53px;">
        <p>Special Editions</p>
      </div>
  
      <div class = "text-style-parallax" style="font-family: 'Lato',sans-serif; font-size: 23px; margin-top: 33px;">
        <p>    “Buy what you don’t have yet or what you really want, 
          which can be mixed with what you already own. </p>
        <p>  
            Buy only because something excites you, not just for the simple act of shopping.”
      </p>
      </div>
  
      <div>
        <div style="padding-top: 5%; padding-left: 7%;">
          <div class="divbtn">
            <a style= "color: black ; font-family: serif;" routerLink="/Myntra" role="button">Buy Now</a>
          </div>
        </div>  
      </div>
      
    </div>
  
  </div>
  

<div class="inner-container">

  <div class="row-footer">
    <div class="font-footer"> Quick Links </div>
    <div class="font-footer"> For Her </div>
    <div class="font-footer"> For Him </div>
    <div class="font-footer"> Get It From </div>
    <div class="last-footer" >
</div>


  <div class="row-footer">
    <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Home</a>  
    <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Women Jeans</a>  
    <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Casual Wear</a>  
    <img class="footer-icon" src='../../../assets/google_store_img.png' (click)="onImageClick()">  
    <div class="last-footer" >
</div>

<div class="row-footer">
  <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">About</a>
  <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Tops and Shirts</a>  
  <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Formal Pants & Shirts </a>    
  <!-- <div class="col-footer">Play Store</div> -->
    <div class="last-footer" >
</div>

<div class="row-footer">
  <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Cart</a>
  <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Winter Wear</a>  
  <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Winter Wear</a>  
  <img class="footer-icon" src='../../../assets/apple_store_img.png' (click)="onImageClick()">  
  <div class="last-footer" >
</div>

<div class="row-footer">
  <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Contact</a>
  <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Fashion Accesories</a>  
  <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Men's Accesories</a>  
  <div class="last-footer" >
</div>


<div class="row-footer">
  <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Help</a>
  <div class="last-footer" >
</div>

</div>
