<div class="top-div-m">
    <div class="row">
        <div class="col-sm-8" style="font-size: larger; font-weight: 500; font-family: emoji;">
            <img src='/../../../assets/myntra.png' alt="logo" width="50" height="40" (click)="Load_HomePage()"> 
             
        &nbsp; &nbsp;
        <a style= "color: black" routerLink="/Myntra/MensWear" routerLinkActive="active">MENS</a>
        &nbsp; &nbsp;
        <a style= "color: black" routerLink="/Myntra/WomenWear" routerLinkActive="active">WOMEN</a>
        &nbsp; &nbsp;
        <a style= "color: black" routerLink="/Myntra" routerLinkActive="active">ACCESSORIES</a>
        &nbsp; &nbsp;
        <a style= "color: black" routerLink="/Myntra" routerLinkActive="active">KIDS</a>
        &nbsp; &nbsp;
        <a style= "color: black" routerLink="/Myntra" routerLinkActive="active">HOME & LIVING</a>
        &nbsp; &nbsp;
        <a style= "color: black" routerLink="/Myntra" routerLinkActive="active">BEAUTY</a>
        &nbsp; &nbsp;
        
      </div>

      <div class="col-sm-4" style="display: flex; justify-content: flex-end">
     
        <div class="col-lg-2" >
            <div >
                <img src='/../../../assets/profile.png' alt="logo" width="32" height="29">   
             </div>
             <label style=" padding-top: 3px;"> Profile  </label>
          </div>

          <div class="col-lg-2">
            <div >
                <img src='/../../../assets/wish.png' alt="logo" width="32" height="29">   
             </div>
             <label style=" padding-top: 3px;"> Wishlist  </label>
            </div>

            <div class="col-lg-2" (click)="go()">
                <div >
                    <img src='/../../../assets/bag.png' alt="logo" width="32" height="29">   
                 </div>
                 <label style="margin-left: 8px; padding-top: 3px;"> Cart  </label>
            </div>
    

        
        

        </div>

    </div>
  </div>


<div class="inner-container">
   
<div class="row">
 
 
  <div class="col-md-2">
    <div class="card">
      <div class="card-image">
        <img style=" width: 100%; height:  200px;" src='/../../../assets/Mens/j2.jfif'>
        <!-- <span class="card-title">Clothing Accessories</span> -->
      </div>
      <div class="card-content">
        <p>Jeans & Trousers</p>
      </div>
      <!-- <div class="card-action">
        <a href="#">SHOP NOW</a>
      </div> -->
    </div>
  </div>

  <div class="col-md-2">
    <div class="card">
      <div class="card-image">
        <img style=" width: 100%; height:  200px;" src='/../../../assets/Mens/Sh1.jfif'>
        <!-- <span class="card-title">Clothing Accessories</span> -->
      </div>
      <div class="card-content">
        <a style= "color: black" routerLink="/Myntra/Products" routerLinkActive="active">Shirt</a>
      </div>
      <!-- <div class="card-action">
        <a href="#">SHOP NOW</a>
      </div> -->
    </div>
  </div>


  <div class="col-md-2">
    <div class="card">
      <div class="card-image">
        <img style=" width: 100%; height:  200px;" src='/../../../assets/Mens/T2.jfif'>
        <!-- <span class="card-title">Clothing Accessories</span> -->
      </div>
      <div class="card-content">
        <p>T-Shirts</p>
      </div>
      <!-- <div class="card-action">
        <a href="#">SHOP NOW</a>
      </div> -->
    </div>
  </div>
  

  <div class="col-md-2">
    <div class="card">
      <div class="card-image">
        <img style=" width: 100%; height:  200px;" src='/../../../assets/Mens/S2.jfif'>
        <!-- <span class="card-title">Clothing Accessories</span> -->
      </div>
      <div class="card-content">
        <p>Suit</p>
      </div>
      <!-- <div class="card-action">
        <a href="#">SHOP NOW</a>
      </div> -->
    </div>
  </div>
  

  <div class="col-md-2">
    <div class="card">
      <div class="card-image">
        <img style=" width: 100%; height:  200px;"  src='/../../../assets/Mens/K2.jfif'>
        <!-- <span class="card-title">Clothing Accessories</span> -->
      </div>
      <div class="card-content">
        <p>Kurta Pajama</p>
      </div>
      <!-- <div class="card-action">
        <a href="#">SHOP NOW</a>
      </div> -->
    </div>
  </div>
 
  <div class="col-md-2">
    <div class="card">
      <div class="card-image">
        <img style=" width: 100%; height:  200px;" src='../../../assets/accessories.jpg'>
        <!-- <span class="card-title">Clothing Accessories</span> -->
      </div>
      <div class="card-content">
        <p>Mens Accesories</p>
      </div>
      <!-- <div class="card-action">
        <a href="#">SHOP NOW</a>
      </div> -->
    </div>
  </div>

  
</div>

</div>


<div style=" background-color: white; margin: 0px; padding: 0px;">

  <div class="parallax">

    <p>'</p>
    <div class = "text-style-parallax" style="font-family: serif;">
      <p>Follow up with New Trends</p>
    </div>

    <div class = "text-style-parallax" style="font-family: 'Lato',sans-serif; font-size: 53px;">
      <p>Choose to look classy</p>
    </div>

    <div class = "text-style-parallax" style="font-family: 'Lato',sans-serif; font-size: 23px; margin-top: 33px;">
      <p>    “Best in Class Apparels nearest to your door steps, </p>
      <p>     No more hustle to get your favourite dress.</p>
      <p>     Now Order from your Known & Trusted Brands on few clicks. ”</p>
    </div>

    <div>
      <div style="padding-top: 5%; padding-left: 80%;">
        <div class="divbtn2">
          <a style= "color: black ; font-family: serif;" routerLink="/Myntra" role="button">Buy Now</a>
        </div>
      </div>  
    </div>
    
  </div>

</div>



<div class="inner-container">

    <div class="row-footer">
      <div class="font-footer"> Quick Links </div>
      <div class="font-footer"> For Her </div>
      <div class="font-footer"> For Him </div>
      <div class="font-footer"> Get It From </div>
      <div class="last-footer" >
  </div>
  
  
    <div class="row-footer">
      <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Home</a>  
      <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Women Jeans</a>  
      <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Casual Wear</a>  
      <img class="footer-icon" src='../../../assets/google_store_img.png' (click)="onImageClick()">  
      <div class="last-footer" >
  </div>
  
  <div class="row-footer">
    <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">About</a>
    <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Tops and Shirts</a>  
    <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Formal Pants & Shirts </a>    
    <!-- <div class="col-footer">Play Store</div> -->
      <div class="last-footer" >
  </div>
  
  <div class="row-footer">
    <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Cart</a>
    <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Winter Wear</a>  
    <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Winter Wear</a>  
    <img class="footer-icon" src='../../../assets/apple_store_img.png' (click)="onImageClick()">  
    <div class="last-footer" >
  </div>
  
  <div class="row-footer">
    <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Contact</a>
    <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Fashion Accesories</a>  
    <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Men's Accessories</a>  
    <div class="last-footer" >
  </div>
  
  
  <div class="row-footer">
    <a class="col-footer" routerLink="/Myntra" routerLinkActive="active">Help</a>
    <div class="last-footer" >
  </div>
  
  </div>
  